<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <h1 id=high>Counter</h1>
    <h1 id=high>{{ session.count }}</h1>


    <h1 id=high>
        <form action="/add2" method="get">
            <button type="submit">Add 2</button>
            <br>
        </form>
    </h1>
    <h1 id=high>
        <form action="/clear" method="get">
            <button type="submit">Clear</button>
            <br>
        </form>
    </h1>
</body>

</html>