<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <h3>You're not a turtle fan...</h3>
    <img src="/static/images/notapril.jpg" alt="TMNT" width="50%" height="auto"> 
    {% if color == "blue" %}
    <img src="/static/images/leonardo.jpg" alt="TMNT" width="50%" height="auto"> 
    {% endif %}
    {% if color == "orange" %}
    <img src="/static/images/michelangelo.jpg" alt="TMNT" width="50%" height="auto"> 
    {% endif %}
    {% if color == "red" %}
    <img src="/static/images/raphael.jpg" alt="TMNT" width="50%" height="auto"> 
    {% endif %}
    {% if color == "purple" %}
    <img src="/static/images/donatello.jpg" alt="TMNT" width="50%" height="auto"> 
    {% endif %}
    





<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x = location.pathname;
    document.getElementById("demo").innerHTML = x;
}



</script>
</body>
</html>